<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@foreach (Dictionary<string, string> job in ViewBag.jobs)
{
    // TODO #3 - Use the same list display from Views/Search/Index.cshtml 
    //This page needs to display full job listings, just like the search 
    //results page. Add code to the appropriate view template so that this
    //page displays jobs with the same structure as the search fo results.
    <table class="job-listing" table-striped>
        @foreach (KeyValuePair<string, string> jobDisplay in job)
        {
            <tr>
                <td>@jobDisplay.Key :</td>
                <td>@jobDisplay.Value</td>
            </tr>
        }
    </table>
}